# Copy this file to .env and fill in real values.
# .env is gitignored

# IP of this machine (the host) on the LAN
# set to static in the router settings
LAN_IP=x.x.x.x

# See README.md for explainations on each of these variables
PUID=xxx
PGID=xxx
TZ=America/Vancouver
MEDIA_PATH=/../../..
RENDER_GID=xxx
VIDEO_GID=xxx